* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.introvid {
  width: 100%;
  position: relative;
}

.introvid video {
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  padding-top: 1.5em;
  width: 100%;
}

.nav div {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  font-size: 30px;
}

.nav div:hover {
  transition: 0.4s;
  text-shadow: 2px 2px 2px #b87fa6;
  cursor: pointer;
}

#logo img {
  width: 7em;
}

.arrow {
  position: absolute;
  z-index: 10;
  bottom: 2.5em;
  margin-left: 2em;
  -webkit-animation: down 2s infinite alternate;
  animation: down 2s infinite alternate;
}

.slideshow {
  padding: 2em 5em 5em 5em;
}

/* ~~~~~~~~~~~~~~~~~~~DESKTOP CONTACT ME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.forms {
  background-color: rgba(184, 127, 166, 0.5);
  margin: 3em 9em 2em 6em;
  padding: 2em 3em 0em 3em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.forms h3 {
  font-family: "Angelica", sans-serif;
  font-size: 50px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: solid 1px black;
  background-color: transparent;
  width: 16em;
  margin-bottom: 1em;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0.4em;
}

#message {
  border: 1px black solid;
  background-color: transparent;
  margin-top: 0.5em;
  word-break: break-word;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#send {
  font-family: "Angelica", sans-serif;
  font-size: 33px;
  text-align: left;
  border: none;
  text-align: right;
  cursor: pointer;
}

.pic {
  text-align: center;
  margin-top: 1em;
}

.pic img {
  width: 26vw;
}

@-webkit-keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hello {
  margin: 6em 2em 2em 6em;
}

h1 {
  font-family: "Angelica", sans-serif;
  font-size: 10em;
}

.introtext {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-right: 4em;
}

.carousel {
  margin: 4em 2em 2em 2em;
}

#slovakia,
#stork {
  stroke: rgb(0, 0, 0);
  stroke-width: 0.3px;
  fill: rgb(0, 0, 0);
  stroke-dasharray: 800;
  animation: animate 7s ease-out;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 800;
  }

  30% {
    opacity: 5;
    fill: none;
    stroke-dashoffset: 800;
  }
  50% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 800;
  }

  80% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgb(0, 0, 0);

    stroke-dashoffset: 0;
  }
}

#figures .st3123 {
  stroke: rgb(0, 0, 0);
  stroke-width: 0.3px;
  fill: rgb(0, 0, 0);
  stroke-dasharray: 1200;
  animation: animate1 7s ease-out;
  animation-delay: -3s;
}

@keyframes animate1 {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1200;
  }

  30% {
    opacity: 5;
    fill: none;
    stroke-dashoffset: 1200;
  }
  50% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1200;
  }

  80% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgb(0, 0, 0);

    stroke-dashoffset: 0;
  }
}

#models {
  stroke: rgb(0, 0, 0);
  stroke-width: 0.3px;
  fill: rgb(0, 0, 0);
  stroke-dasharray: 4200;
  animation: fadein 3s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#amster .st3124,
#amster .st3125,
#amster .st3126,
#amster .st3123,
#amster .st3123 {
  transition: 1s;
  animation: down 5s infinite;
}

#clapperboard path {
  animation: fadein 3s ease-out;
}

#auckland:hover {
  transform: rotateX(180deg);
}
/*.banner {
  background-image: url(img/banner-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vw;
  margin-top: 3em;
}
*/

.banner img {
  width: 100%;
  margin-top: 3em;
}
